.main {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 100%;
}
.autoContainer {
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 60px;
}
.centerBox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-grow: 1;
  padding: 100px 60px 70px 60px;
  overflow-y: auto;

  &__inner {
    display: flex;
    flex-grow: 1;
    width: 100%;
    animation: 0.15s animInUp ease-out;

    & > div {
      width: 100%;
    }
  }
  &--products & {
    &__inner {
      padding: 0;
    }
  }
  &--auth & {
    &__inner {
      flex-grow: unset;
      max-width: 600px;

      .MuiPaper-root {
        padding: 60px 30px 30px 30px;
        min-height: 500px;
      }
    }
  }
}

@mixin layouts-1025 {
  .centerBox {
    padding: 80px 40px 40px 40px;
  }
}
@mixin layouts-580 {
  .centerBox {
    padding: 80px 20px 40px 20px;
    &--auth & {
      &__inner {
        .MuiPaper-root {
          padding: 40px 20px 20px 20px;
          min-height: 400px;
        }
      }
    }
  }
}
@mixin layouts-460 {
  .centerBox {
    padding: 75px 15px 40px 15px;
  }
}
