// @import "assets/styles/";

.dashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
  padding: 30px 30px 12vh 30px;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;

  &__cards {
    display: flex;
    gap: 30px;
    // background-color: $primary;
  }
}
