@import "assets/styles/presets/mixin.scss";

.dashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
  padding: 30px 30px 12vh 30px;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;

  &__cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;

    .dashboardCard {
      width: calc(33.33% - 20px);
    }
  }
}
