@font-face {
font-family: 'font-icon';
src: url("../fonts/font-icon.ttf") format("truetype"),
url("../fonts/font-icon.eot") format("embedded-opentype"),
url("../fonts/font-icon.woff") format("woff");
}
.ico {
    font-family: 'font-icon' !important;
    font-size: 18px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.tabTick:before { content: "\ea01"; }
.notification:before { content: "\ea02"; }
.account:before { content: "\ea03"; }
.shop:before { content: "\ea04"; }
.price:before { content: "\ea05"; }
.product:before { content: "\ea06"; }
.main:before { content: "\ea07"; }
.dropdown:before { content: "\ea08"; }
.close:before { content: "\ea09"; }
.wrong:before { content: "\ea0a"; }
.tick:before { content: "\ea0b"; }
.ArrowRight:before { content: "\ea0c"; }
.ArrowLeft:before { content: "\ea0d"; }
.ArrowUp:before { content: "\ea0e"; }
.filter:before { content: "\ea0f"; }
.export:before { content: "\ea10"; }
.view:before { content: "\ea11"; }
.columns:before { content: "\ea12"; }
.plus:before { content: "\ea13"; }
